html {

    font-family: -apple-system, "Segoe UI", Helvetica, sans-serif;
    font-size: 14px;
    color: #323C46;

    background-color: rgba(228, 229, 220, 1); 
    /*
    background-color: lightgray;
    background-color: rgba(134, 134, 134, 1); 
    */
    overflow-y: scroll;

}


.float-left {
    float: left;
}

.float-right {
    float: right;
}


.header {
    padding: 4px;
    text-align: center;
    font-size: larger;
}

.header h3 {
    padding: 0px;
    margin: 0px;
}

.header p {
    margin: auto;
}

.content {
    width: 800px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);

    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.listContainer {

    width: 800px;
    margin-left: auto;
    margin-right: auto;
    /*
    background-color: rgba(255,100,0,.3);*/
}

table.todo {
    width: 800px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    border-bottom: 1px solid white;
}

.borderedBox {
    margin: 10px;
    display: inline-block;
    background-color:rgba(179, 223, 156, 0.6);
;
    border: 1px solid rgba(0,0,0,.125);
    padding: 6px 12px 6px 12px;
}

.borderWhite {
    border: 1px solid #ccc;
}

.borderRed {
    border: 1px solid red;
}

table.todo > tbody > tr > td.overdue {
    background-color: #B22222;
    color: white;
    font-weight: bold;
}

input:invalid {
    box-shadow:0 0 0px red;
   border: 1px solid red;
}

input[type="radio"] {
    outline: none;
}

hr {
    margin: 0px;
    padding: 0px;
    border-top: 1px dashed lightgray;
    border-bottom: 0px;
}

table.todo th {

    height: 20px;
    padding: 2px 6px 3px 6px;

    background-color: #475A6C;

    color: white;
    text-align: left;
    font-weight: bold;
    font-size: 16px;

    border-right: 1px solid white;
    border-left: 1px solid white;

    /*border: 1px solid white;*/

}

/*
table.todo:not(:last-child) {
    border-right: 1px solid white;
}
*/

table.todo td {
    border: 1px solid white;
    padding: 6px 4px;
}


table.todo td.titleCell {
    height: 25px;
    font-weight: bold;
    text-align:center;
}

table.todo td.deleteButtonCell {
    width: 25px;
    text-align: center;
    cursor: pointer;
}

.deleteButtonCell:hover {
    background-color: gray;
}

table.todo .categoryCell {
    width: 100px;
    text-align: left;
}

table.todo .dealineCell {
    width: 70px;
}

table.todo > tbody > tr {
    background: #ededed;
}

table.todo > tbody > tr:hover {
    background: white;
}