html {

    font-family: -apple-system, "Segoe UI", Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #323C46;

    /*background-color: #E9E9E9;*/
    background-color: rgb(243,243,243);
    overflow-y: scroll;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}


.header {
    padding: 4px;
    text-align: center;
}

.header h3 {
    padding: 0px;
    margin: 0px;
}

.header p {
    margin: auto;
}

.content {

    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);

    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.gametable {
    border-collapse: collapse;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}

.gametable th {

    height: 20px;
    width: 100%;

    background-color: #475A6C;
    color: white;
    text-align:center;
    font-size: 18pt;
    padding: 2px 6px 3px 6px;
    border-width: 1px;
    border-style: solid;
    border-color: white;
}

.gametable td.mouseovered:hover {
    background: black;
}

.gametable td {
    background: whitesmoke;
    font-size: 15pt;
    border-width: 1px;
    border-style: solid;
    border-color: white;

}

.gametable .ownedByPlayer1 {
    background: red;
    color: white;
    font-weight: bold;
}

.gametable td.ownedByPlayer2 {
    background: dodgerblue;
    color: white;
    font-weight: bold;
}


.gametable td.titleCell {
    width: 100%;
    height: 25px;
    font-weight: bold;
    text-align:center;
}

.gametable td.buttonCell {
    min-width: 25px;
    min-height: 25px;
    text-align: center;
}

.gametable td.addItemButtonCell {
    min-width: 25px;
    min-height: 25px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    background: darkgoldenrod;
    color: white;
}


.player1Status {
    text-decoration: underline red solid;
    color: white;
    text-align: left;
    float: left;
    margin-left: 6px;
}

.player2Status {
    text-decoration: underline dodgerblue solid;
    color: white;
    text-align: right;
    float: right;
    margin-right: 6px;
}


.inactive {
    color: darkgray;
    text-decoration: underline darkgray solid;
}


#moves-made {
    position: relative;
    text-align: center;
    align-self: center;
}

