html {

    font-family: -apple-system, "Segoe UI", Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #323C46;

    /* background-color: rgba(134, 134, 134, 1); */
    background-color: lightgray;
    overflow-y: scroll;


}

.header {
    padding: 4px;
    text-align: center;
    font-size: larger;
}

.header h3 {
    padding: 0px;
    margin: 0px;
}

.header p {
    margin: auto;
}

.content {

    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);

    margin-top: 10px;
    margin-left: 4px;
    margin-right: 4 px;
}

.listContainer {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    /*background-color: rgba(255,100,0,.3);*/
}

table.todo {
    width: 100%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    border-bottom: 1px solid white;
}

table.todo th {

    height: 20px;
    padding: 2px 6px 3px 6px;

    background-color: #475A6C;

    color: white;
    text-align: left;
    font-size: 14pt;
    font-weight: bold;

    /*border: 1px solid white;*/

}

/*
table.todo:not(:last-child) {
    border-right: 1px solid white;
}
*/

table.todo th {
    border-right: 1px solid white;
}



.float-left {
    float: left;
}

.float-right {
    float: right;
}

table.todo td {

    background: whitesmoke;
    font-size: 14pt;

    border: 1px solid white;

    /* border: 1px solid red; */
    padding-left: 4px;
    padding-right: 4px;

}


table.todo td.titleCell {
    width: 100%;
    height: 25px;
    font-weight: bold;
    text-align:center;
}

table.todo .deleteButtonCell {
    width: 25px;
    text-align: center;
}

table.todo .categoryCell {
    width: 100px;
    text-align: left;
}

table.todo .dealineCell {
    width: 100px;
}

table.todo td.addItemButtonCell {
    min-width: 25px;
    min-height: 25px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    background: darkgoldenrod;
    color: white;
}


div.listContainer > table.todo > tbody > tr:hover {
    background: white;
}